extends layout

block content
	div.container
		div.row
			h1= title
			p Welcome to #{title}
			div(primarynav navtitle="Primary Nav")
			div(ng-controller="OtherController")
				h1 {{ testtitle }}
			div(secondarynav navtitle="A secondary nav")
			div(audioplayer audio-src="https://d97i5tfmntrq8.cloudfront.net/81ce49aa-452a-00a6-a3bd-a0d600c536ee/Dannie%20Lu%20Carr%20on%20Assertiveness.mp3" class="audio-container")
			div(videoplayer video-src="https://d97i5tfmntrq8.cloudfront.net/87b62142-cdda-00a7-bb47-9fad00a1f190/An%20Introduction%20to%20Commercial%20Awareness%20v1.0.mp4" class="video-container")

	script(type="text/ng-template", id="primarynav.tmpl")
		h2 {{ navtitle }}
		div This is a primary nav

	script(type="text/ng-template", id="secondarynav.tmpl")
		h4 {{ navtitle }}
		div This is a smaller nav

	script(type="text/ng-template", id="audio-player.tmpl")
		div.jumbotron
			h2 Audio Directive
			div.form-group
				label Volume: 
				input(id="volume-changer" min="0" max="1" step="0.05" type="range" ng-click="audiochangevolume()")

			div.form-group
				button(class="btn btn-default playpause" ng-click="audioplaypause()" ng-class="{paused:audio.paused}")
					span.play-text
						i.glyphicon.glyphicon-play
					span.pause-text
						i.glyphicon.glyphicon-pause
				label Duration:
				span(id="duration-label" style="margin-left: 20px;")

			div.form-group
				label Current position:
				input(id="duration-current-position" min="0" max="" step="0.05" type="range" value="0" ng-click="audioupdateposition()")

			div.form-group
				label Download progress:
				progress(id="duration-progress" value="0" max="100")

	script(type="text/ng-template", id="ie-media.tmpl")
		div.replaceme

	script(type="text/ng-template", id="video-player.tmpl")
		div.jumbotron(id="video-container")
			h2 Video Directive
			video(id="video-player")
			div.form-group
				label Volume: 
				input(id="video-volume-changer" min="0" max="1" step="0.05" type="range" ng-click="videochangevolume()")
				button(class="btn btn-default video-mute" ng-click="videomute()" ng-class="{muted:video.muted}")
					span.muted-text
						i.glyphicon.glyphicon-volume-off
					span.unmuted-text
						i.glyphicon.glyphicon-volume-up

			div.form-group
				button(class="btn btn-default video-playpause" ng-click="videoplaypause()" ng-class="{paused:video.paused}")
					span.play-text
						i.glyphicon.glyphicon-play
					span.pause-text
						i.glyphicon.glyphicon-pause
				label Duration:
				span(id="video-duration-label" style="margin-left: 20px;")

			div.form-group
				label Current position:
				input(id="video-duration-current-position" min="0" max="" step="0.05" type="range" value="0" ng-click="videoupdateposition()")

			div.form-group
				label Download progress:
				progress(id="video-duration-progress" value="0" max="100")
