extends layout

block content
	div.container
		div.row
			h1= title
			p Welcome to #{title}
			primarynav(navtitle="Primary Nav")
			div(ng-controller="OtherController")
				h1 {{ testtitle }}
			secondarynav(navtitle="A secondary nav")
			div(audioplayer audio-src="https://d97i5tfmntrq8.cloudfront.net/81ce49aa-452a-00a6-a3bd-a0d600c536ee/Dannie%20Lu%20Carr%20on%20Assertiveness.mp3")

	script(type="text/ng-template", id="primarynav.tmpl")
		h2 {{ navtitle }}
		div This is a primary nav

	script(type="text/ng-template", id="secondarynav.tmpl")
		h4 {{ navtitle }}
		div This is a smaller nav

	script(type="text/ng-template", id="audio-player.tmpl")
		div.jumbotron
			h2 Audio Directive
			div.form-group
				label Volume: 
				input(id="volume-changer" min="0" max="1" step="0.05" type="range" ng-click="changevolume()")

			div.form-group
				button(class="btn btn-default playpause" ng-click="playpause()" ng-class="{paused:audio.paused}")
					span.play-text play
						i.glyphicon.glyphicon-play
					span.pause-text pause
						i.glyphicon.glyphicon-pause
				label Duration:
				span(id="duration-label" style="margin-left: 20px;")

			div.form-group
				label Current position:
				input(id="duration-current-position" min="0" max="" step="0.05" type="range" value="0" ng-click="updateposition()")			

			div.form-group
				label Download progress:
				progress(id="duration-progress" value="0" max="100")

